In [1]:
import pandas as pd

### 구별 버스 이용량 확인

In [27]:
df1 = pd.read_excel('C:/Users/admin/Desktop/Final_project/data/이용량_강서구.xlsx')
df2 = pd.read_excel('C:/Users/admin/Desktop/Final_project/data/이용량_금정구.xlsx')
df3 = pd.read_excel('C:/Users/admin/Desktop/Final_project/data/이용량_기장군.xlsx')
df4 = pd.read_excel('C:/Users/admin/Desktop/Final_project/data/이용량_남구.xlsx')
df5 = pd.read_excel('C:/Users/admin/Desktop/Final_project/data/이용량_동구.xlsx')
df6 = pd.read_excel('C:/Users/admin/Desktop/Final_project/data/이용량_동래구.xlsx')
df7 = pd.read_excel('C:/Users/admin/Desktop/Final_project/data/이용량_부산진구.xlsx')
df8 = pd.read_excel('C:/Users/admin/Desktop/Final_project/data/이용량_북구.xlsx')
df9 = pd.read_excel('C:/Users/admin/Desktop/Final_project/data/이용량_사상구.xlsx')
df10 = pd.read_excel('C:/Users/admin/Desktop/Final_project/data/이용량_사하구.xlsx')
df11 = pd.read_excel('C:/Users/admin/Desktop/Final_project/data/이용량_서구.xlsx')
df12 = pd.read_excel('C:/Users/admin/Desktop/Final_project/data/이용량_수영구.xlsx')
df13 = pd.read_excel('C:/Users/admin/Desktop/Final_project/data/이용량_연제구.xlsx')
df14 = pd.read_excel('C:/Users/admin/Desktop/Final_project/data/이용량_영도구.xlsx')
df15 = pd.read_excel('C:/Users/admin/Desktop/Final_project/data/이용량_중구.xlsx')
df16 = pd.read_excel('C:/Users/admin/Desktop/Final_project/data/이용량_해운대구.xlsx')

### 구별 버스 이용량 합치기

In [28]:
merge_df = pd.DataFrame()

merge_df = merge_df.append(df1)
merge_df = merge_df.append(df2)
merge_df = merge_df.append(df3)
merge_df = merge_df.append(df4)
merge_df = merge_df.append(df5)
merge_df = merge_df.append(df6)
merge_df = merge_df.append(df7)
merge_df = merge_df.append(df8)
merge_df = merge_df.append(df9)
merge_df = merge_df.append(df10)
merge_df = merge_df.append(df11)
merge_df = merge_df.append(df12)
merge_df = merge_df.append(df13)
merge_df = merge_df.append(df14)
merge_df = merge_df.append(df15)
merge_df = merge_df.append(df16)

C:\Users\admin\AppData\Local\Temp\ipykernel_16388\3227402487.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merge_df = merge_df.append(df1)
C:\Users\admin\AppData\Local\Temp\ipykernel_16388\3227402487.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merge_df = merge_df.append(df2)
C:\Users\admin\AppData\Local\Temp\ipykernel_16388\3227402487.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merge_df = merge_df.append(df3)
C:\Users\admin\AppData\Local\Temp\ipykernel_16388\3227402487.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merge_df = merge_df.append(df4)
C:\Users\admin\AppData\Local\Temp\ipykernel_16388\3227402487.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merge_df = merge_df.append(df5)
C:\Users\admin\AppData\Local\Temp\ipykernel_16388\3227402487.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merge_df = merge_df.append(df6)
C:\Users\admin\AppData\Local\Temp\ipykernel_16388\3227402487.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merge_df = merge_df.append(df7)
C:\Users\admin\AppData\Local\Temp\ipykernel_16388\3227402487.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merge_df = merge_df.append(df8)
C:\Users\admin\AppData\Local\Temp\ipykernel_16388\3227402487.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merge_df = merge_df.append(df9)
C:\Users\admin\AppData\Local\Temp\ipykernel_16388\3227402487.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merge_df = merge_df.append(df10)
C:\Users\admin\AppData\Local\Temp\ipykernel_16388\3227402487.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merge_df = merge_df.append(df11)
C:\Users\admin\AppData\Local\Temp\ipykernel_16388\3227402487.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merge_df = merge_df.append(df12)
C:\Users\admin\AppData\Local\Temp\ipykernel_16388\3227402487.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merge_df = merge_df.append(df13)
C:\Users\admin\AppData\Local\Temp\ipykernel_16388\3227402487.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merge_df = merge_df.append(df14)
C:\Users\admin\AppData\Local\Temp\ipykernel_16388\3227402487.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merge_df = merge_df.append(df15)
C:\Users\admin\AppData\Local\Temp\ipykernel_16388\3227402487.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merge_df = merge_df.append(df16)

In [29]:
merge_df.to_excel('C:/Users/admin/Desktop/Final_project/res/이용량_merge.xlsx', index=False)

In [30]:
a = pd.read_excel('C:/Users/admin/Desktop/Final_project/res/이용량_merge.xlsx')
a

     시도코드     시도  시군구  읍면동     년 이용자유형  교통수단       발생량      도착량
0      합계      0    0    0     0     0     0  13603257  7805805
1      26  부산광역시  강서구  강동동  2021   어린이  도시철도       309      266
2       0      0    0    0     0     0    마을       343       97
3       0      0    0    0     0     0    시내       552      304
4       0      0    0    0     0   일반인  도시철도    536204   503482
...   ...    ...  ...  ...   ...   ...   ...       ...      ...
1215    0      0    0    0     0     0    마을    472554   157772
1216    0      0    0    0     0     0    시내   1825511   621985
1217    0      0    0    0     0   청소년  도시철도      9256    10034
1218    0      0    0    0     0     0    마을     12024     3821
1219    0      0    0    0     0     0    시내     73720    20898

[1220 rows x 9 columns]

In [31]:
a = a.drop(['시도코드', '시도', '년'], axis=1)
a

      시군구  읍면동 이용자유형  교통수단       발생량      도착량
0       0    0     0     0  13603257  7805805
1     강서구  강동동   어린이  도시철도       309      266
2       0    0     0    마을       343       97
3       0    0     0    시내       552      304
4       0    0   일반인  도시철도    536204   503482
...   ...  ...   ...   ...       ...      ...
1215    0    0     0    마을    472554   157772
1216    0    0     0    시내   1825511   621985
1217    0    0   청소년  도시철도      9256    10034
1218    0    0     0    마을     12024     3821
1219    0    0     0    시내     73720    20898

[1220 rows x 6 columns]

In [33]:
a.to_excel('C:/Users/admin/Desktop/Final_project/res/USE_merge.xlsx', index=False)

### 발생량+도착량 = 합계 열 만들기

In [13]:
import numpy as np

In [14]:
a['합계'] = 0

In [15]:
a['합계'] = a.sum(axis=1)
a

C:\Users\admin\AppData\Local\Temp\ipykernel_16388\1131201071.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  a['합계'] = a.sum(axis=1)

      시군구  읍면동 이용자유형  교통수단       발생량      도착량        합계
0       0    0     0     0  13603257  7805805  21409062
1     강서구  강동동   어린이  도시철도       309      266       575
2       0    0     0    마을       343       97       440
3       0    0     0    시내       552      304       856
4       0    0   일반인  도시철도    536204   503482   1039686
...   ...  ...   ...   ...       ...      ...       ...
1215    0    0     0    마을    472554   157772    630326
1216    0    0     0    시내   1825511   621985   2447496
1217    0    0   청소년  도시철도      9256    10034     19290
1218    0    0     0    마을     12024     3821     15845
1219    0    0     0    시내     73720    20898     94618

[1220 rows x 7 columns]

In [25]:
a.to_excel('C:/Users/admin/Desktop/Final_project/res/USE_merge.xlsx', index=False)

In [23]:
a=pd.read_excel('C:/Users/admin/Desktop/Final_project/res/이용량_merge_final.xlsx')
a

       시군구  읍면동 이용자유형  교통수단       발생량      도착량        합계
0      강서구    -     -     -  13603257  7805805  21409062
1      강서구  강동동   어린이  도시철도       309      266       575
2      강서구  강동동   어린이    마을       343       97       440
3      강서구  강동동   어린이    시내       552      304       856
4      강서구  강동동   일반인  도시철도    536204   503482   1039686
...    ...  ...   ...   ...       ...      ...       ...
1214  해운대구   중동   일반인    마을    472554   157772    630326
1215  해운대구   중동   일반인    시내   1825511   621985   2447496
1216  해운대구   중동   청소년  도시철도      9256    10034     19290
1217  해운대구   중동   청소년    마을     12024     3821     15845
1218  해운대구   중동   청소년    시내     73720    20898     94618

[1219 rows x 7 columns]

### 장애인 탑승이 포함되어 있는 구 뽑고 저장

In [20]:
b = a[a['이용자유형'].str.contains('장애인', na=False)]
b

       시군구  읍면동 이용자유형  교통수단     발생량     도착량      합계
282    기장군  기장읍   장애인  도시철도   48141   49544   97685
295    기장군  장안읍   장애인  도시철도     210     191     401
451    동래구  안락동   장애인  도시철도   51636   48670  100306
466    동래구  온천동   장애인  도시철도   20201   19570   39771
529   부산진구  부전동   장애인  도시철도   48538   46771   95309
899    연제구  거제동   장애인  도시철도  103326  103397  206723
1167  해운대구  송정동   장애인  도시철도   18952   18757   37709
1180  해운대구   우동   장애인  도시철도   76363   79089  155452
1193  해운대구  재송동   장애인  도시철도   25365   21782   47147
1206  해운대구   좌동   장애인  도시철도   28767   31699   60466

In [24]:
b.to_excel('C:/Users/admin/Desktop/Final_project/res/USE_ONLY.xlsx')