## 버스 노선 수 전처리

In [1]:
# 필요한 lib 설정
import pandas as pd
import numpy as np

In [4]:
# 노선 excel 파일 열기
bn = pd.read_excel('./res/운행계통.xlsx')
bn

,연번,노선번호,업체,기점,경유지,종점,평일_운행대수,토요일_운행대수,공휴일_운행대수,예비대수,...,휴식소요시간(분),평일첨두_배차간격,평일비첨두_배차간격,토요일첨두_배차간격,공휴일비첨두_배차간격,1대당횟수(평일),1일총횟수(평일),1일총횟수(토요일),1일총횟수(공휴일),첫차~막차
0,1.0,2,동원,다대포,하단,부산역,18.0,18.0,17.0,1.0,...,20.0,7.0,11.0,10.0,11.0,5.7,102.0,102.0,100.0,05:00~22:15
1,2.0,3,동진,다대포,하단,신호주거단지,15.0,12.0,12.0,1.0,...,20.0,11.0,14.0,16.0,16.0,4.9,73.0,65.0,65.0,05:00~21:50
2,3.0,5-1,삼성,회동동,서면,국제여객터미널,16.0,13.0,13.0,1.0,...,35.0,13.0,16.0,17.0,16.0,4.1,66.0,57.0,61.0,04:50~22:20
3,4.0,6,남부,청학동,남포동,괴정,20.0,17.0,15.0,1.0,...,20.0,5.0,8.0,9.0,11.0,6.2,123.0,106.0,93.0,04:50~22:45
4,5.0,7,남부,청학동,남포동,수산가공선진화단지,8.0,7.0,6.0,1.0,...,15.0,12.0,15.0,17.0,18.0,7.9,63.0,58.0,51.0,05:00~22:37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,NaN,2000,동원,NaN,NaN,NaN,1.0,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,NaN,2000,동진,NaN,NaN,NaN,1.0,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,NaN,2000,태영,NaN,NaN,NaN,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,NaN,2000,계,하단역,"명지,외포",거제 연초,5.0,5.0,5.0,1.0,...,30.0,25.0,25.0,25.0,25.0,4.0,20.0,20.0,20.0,06:00~22:30
183,NaN,계,NaN,NaN,NaN,NaN,2377.0,2164.0,1987.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
bn.head(1)

,연번,노선번호,업체,기점,경유지,종점,평일_운행대수,토요일_운행대수,공휴일_운행대수,예비대수,...,휴식소요시간(분),평일첨두_배차간격,평일비첨두_배차간격,토요일첨두_배차간격,공휴일비첨두_배차간격,1대당횟수(평일),1일총횟수(평일),1일총횟수(토요일),1일총횟수(공휴일),첫차~막차
0,1.0,2,동원,다대포,하단,부산역,18.0,18.0,17.0,1.0,...,20.0,7.0,11.0,10.0,11.0,5.7,102.0,102.0,100.0,05:00~22:15

In [5]:
bn.tail()

,연번,노선번호,업체,기점,경유지,종점,평일_운행대수,토요일_운행대수,공휴일_운행대수,예비대수,...,휴식소요시간(분),평일첨두_배차간격,평일비첨두_배차간격,토요일첨두_배차간격,공휴일비첨두_배차간격,1대당횟수(평일),1일총횟수(평일),1일총횟수(토요일),1일총횟수(공휴일),첫차~막차
179,NaN,2000,동원,NaN,NaN,NaN,1.0,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,NaN,2000,동진,NaN,NaN,NaN,1.0,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,NaN,2000,태영,NaN,NaN,NaN,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,NaN,2000,계,하단역,"명지,외포",거제 연초,5.0,5.0,5.0,1.0,...,30.0,25.0,25.0,25.0,25.0,4.0,20.0,20.0,20.0,06:00~22:30
183,NaN,계,NaN,NaN,NaN,NaN,2377.0,2164.0,1987.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# 컬럼 명 확인하기
bn.columns

Index(['연번', '노선번호', '업체', '기점', '경유지', '종점', '평일_운행대수', '토요일_운행대수',
       '공휴일_운행대수', '예비대수', '운행거리(km)', '운행소요시간(분)', '휴식소요시간(분)', '평일첨두_배차간격',
       '평일비첨두_배차간격', '토요일첨두_배차간격', '공휴일비첨두_배차간격', '1대당횟수(평일)', '1일총횟수(평일)',
       '1일총횟수(토요일)', '1일총횟수(공휴일)', '첫차~막차'],
      dtype='object')

In [7]:
# 필요없는 컬럼 삭제하기
bn.drop(['연번','업체'], axis=1)

,노선번호,기점,경유지,종점,평일_운행대수,토요일_운행대수,공휴일_운행대수,예비대수,운행거리(km),운행소요시간(분),휴식소요시간(분),평일첨두_배차간격,평일비첨두_배차간격,토요일첨두_배차간격,공휴일비첨두_배차간격,1대당횟수(평일),1일총횟수(평일),1일총횟수(토요일),1일총횟수(공휴일),첫차~막차
0,2,다대포,하단,부산역,18.0,18.0,17.0,1.0,39.8,154.0,20.0,7.0,11.0,10.0,11.0,5.7,102.0,102.0,100.0,05:00~22:15
1,3,다대포,하단,신호주거단지,15.0,12.0,12.0,1.0,49.3,160.0,20.0,11.0,14.0,16.0,16.0,4.9,73.0,65.0,65.0,05:00~21:50
2,5-1,회동동,서면,국제여객터미널,16.0,13.0,13.0,1.0,56.1,222.0,35.0,13.0,16.0,17.0,16.0,4.1,66.0,57.0,61.0,04:50~22:20
3,6,청학동,남포동,괴정,20.0,17.0,15.0,1.0,38.3,138.0,20.0,5.0,8.0,9.0,11.0,6.2,123.0,106.0,93.0,04:50~22:45
4,7,청학동,남포동,수산가공선진화단지,8.0,7.0,6.0,1.0,30.7,104.0,15.0,12.0,15.0,17.0,18.0,7.9,63.0,58.0,51.0,05:00~22:37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,2000,NaN,NaN,NaN,1.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,2000,NaN,NaN,NaN,1.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,2000,NaN,NaN,NaN,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,2000,하단역,"명지,외포",거제 연초,5.0,5.0,5.0,1.0,110.0,180.0,30.0,25.0,25.0,25.0,25.0,4.0,20.0,20.0,20.0,06:00~22:30
183,계,NaN,NaN,NaN,2377.0,2164.0,1987.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
bn.to_csv('./res/busnumber.csv', encoding='utf-8')