## 버스 노선 수 전처리

In [1]:
# 필요한 lib 설정
import pandas as pd
import numpy as np

In [2]:
# 노선 excel 파일 열기
bn = pd.read_excel('./res/운행계통.xlsx')
bn

,연번,노선\n번호,업체,기점,경유지,종점,상용대수\n(운행대수),Unnamed: 7,Unnamed: 8,예비대수,...,Unnamed: 12,배차간격,Unnamed: 14,Unnamed: 15,Unnamed: 16,운행횟수,Unnamed: 18,Unnamed: 19,Unnamed: 20,첫차\n막차
0,NaN,NaN,NaN,NaN,NaN,NaN,평일,토요일,공휴일,NaN,...,휴식시간\n(분),평일\n첨두,평일\n비첨두,토요일\n첨두,공휴일\n첨두,평일\n1대당횟수,평일\n1일총횟수,토요일\n1일총횟수,공휴일\n1일총횟수,NaN
1,1,2,동원,다대포,하단,부산역,18,18,17,1.0,...,20,7,11,10,11,5.7,102,102,100,05:00\n22:15
2,2,3,동진,다대포,하단,신호주거\n단지,15,12,12,1.0,...,20,11,14,16,16,4.9,73,65,65,05:00\n21:50
3,3,5-1,삼성,회동동,서면,국제여객터미널,16,13,13,1.0,...,35,13,16,17,16,4.1,66,57,61,04:50\n22:20
4,4,6,남부,청학동,남포동,괴정,20,17,15,1.0,...,20,5,8,9,11,6.2,123,106,93,04:50\n22:45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,NaN,NaN,동원,NaN,NaN,NaN,1,1,1,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,NaN,NaN,동진,NaN,NaN,NaN,1,1,1,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,NaN,NaN,태영,NaN,NaN,NaN,1,1,1,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,NaN,NaN,계,하단역,"명지,외포",거제 연초,5,5,5,1.0,...,30,25,25,25,25,4,20,20,20,06:00\n22:30
184,계,NaN,NaN,NaN,NaN,NaN,2377,2164,1987,140.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
bn.head(1)

,연번,노선\n번호,업체,기점,경유지,종점,상용대수\n(운행대수),Unnamed: 7,Unnamed: 8,예비대수,...,Unnamed: 12,배차간격,Unnamed: 14,Unnamed: 15,Unnamed: 16,운행횟수,Unnamed: 18,Unnamed: 19,Unnamed: 20,첫차\n막차
0,NaN,NaN,NaN,NaN,NaN,NaN,평일,토요일,공휴일,NaN,...,휴식시간\n(분),평일\n첨두,평일\n비첨두,토요일\n첨두,공휴일\n첨두,평일\n1대당횟수,평일\n1일총횟수,토요일\n1일총횟수,공휴일\n1일총횟수,NaN

In [4]:
# 컬럼 명 확인하기
bn.columns

Index(['연번', '노선\n번호', '업체', '기점', '경유지', '종점', '상용대수\n(운행대수)', 'Unnamed: 7',
       'Unnamed: 8', '예비대수', '운행거리\n(km)', '소요시간', 'Unnamed: 12', '배차간격',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', '운행횟수', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', '첫차\n막차'],
      dtype='object')

In [5]:
# 필요없는 컬럼 삭제하기
bn.drop(['연번','업체'], axis=1)

,노선\n번호,기점,경유지,종점,상용대수\n(운행대수),Unnamed: 7,Unnamed: 8,예비대수,운행거리\n(km),소요시간,Unnamed: 12,배차간격,Unnamed: 14,Unnamed: 15,Unnamed: 16,운행횟수,Unnamed: 18,Unnamed: 19,Unnamed: 20,첫차\n막차
0,NaN,NaN,NaN,NaN,평일,토요일,공휴일,NaN,NaN,운행시간\n(분),휴식시간\n(분),평일\n첨두,평일\n비첨두,토요일\n첨두,공휴일\n첨두,평일\n1대당횟수,평일\n1일총횟수,토요일\n1일총횟수,공휴일\n1일총횟수,NaN
1,2,다대포,하단,부산역,18,18,17,1.0,39.8,154,20,7,11,10,11,5.7,102,102,100,05:00\n22:15
2,3,다대포,하단,신호주거\n단지,15,12,12,1.0,49.3,160,20,11,14,16,16,4.9,73,65,65,05:00\n21:50
3,5-1,회동동,서면,국제여객터미널,16,13,13,1.0,56.1,222,35,13,16,17,16,4.1,66,57,61,04:50\n22:20
4,6,청학동,남포동,괴정,20,17,15,1.0,38.3,138,20,5,8,9,11,6.2,123,106,93,04:50\n22:45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,NaN,NaN,NaN,NaN,1,1,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,NaN,NaN,NaN,NaN,1,1,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,NaN,NaN,NaN,NaN,1,1,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,NaN,하단역,"명지,외포",거제 연초,5,5,5,1.0,110.0,180,30,25,25,25,25,4,20,20,20,06:00\n22:30
184,NaN,NaN,NaN,NaN,2377,2164,1987,140.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
bn.to_csv('./res/busnumber.csv', encoding='utf-8')