In [ ]:
import pandas as pd

In [ ]:
bus_stop = pd.read_csv('/content/drive/MyDrive/데이터/bus_stop.csv', encoding='utf-8', index_col=0)
bus_stop

,BUSLINENUM,ORD,NAME,SIGUNNAME,GUNAME,DONGNAME,X,Y,UNIQUEID,BUSSTOPID
10882,33,1,연제공용버스차고지,부산광역시,연제구,NaN,129.053172,35.185243,13179.0,50000001059
10883,33,2,시민도서관,부산광역시,부산진구,초읍동,129.050616,35.183126,5061.0,21050551017
10884,33,3,초읍초등학교,부산광역시,부산진구,초읍동,129.050645,35.180547,5041.0,21050551012
10885,33,4,부산진고교,부산광역시,부산진구,초읍동,129.053737,35.177546,5039.0,21050551002
10886,33,5,연지한신타워,부산광역시,부산진구,연지동,129.054522,35.175790,5299.0,21050541003
...,...,...,...,...,...,...,...,...,...,...
1424,1004,101,농협김해시지부,경상남도,김해시,회현동,128.881398,35.235123,NaN,38070521001
1425,1004,102,김해여고,경상남도,김해시,북부동,128.879513,35.239815,NaN,38070551009
1426,1004,103,청소년문화의집,경상남도,김해시,북부동,128.878440,35.241344,NaN,38070551006
1427,1004,104,광남백조아파트,경상남도,김해시,북부동,128.875277,35.245974,NaN,38070551008
1428,1004,105,구산동,경상남도,김해시,북부동,128.873972,35.247809,NaN,38070551012

In [ ]:
bus_stop = bus_stop.drop_duplicates(['X', 'Y'])
bus_stop

,BUSLINENUM,ORD,NAME,SIGUNNAME,GUNAME,DONGNAME,X,Y,UNIQUEID,BUSSTOPID
10882,33,1,연제공용버스차고지,부산광역시,연제구,NaN,129.053172,35.185243,13179.0,50000001059
10883,33,2,시민도서관,부산광역시,부산진구,초읍동,129.050616,35.183126,5061.0,21050551017
10884,33,3,초읍초등학교,부산광역시,부산진구,초읍동,129.050645,35.180547,5041.0,21050551012
10885,33,4,부산진고교,부산광역시,부산진구,초읍동,129.053737,35.177546,5039.0,21050551002
10886,33,5,연지한신타워,부산광역시,부산진구,연지동,129.054522,35.175790,5299.0,21050541003
...,...,...,...,...,...,...,...,...,...,...
1374,1004,51,부산항국제여객터미널입구,부산광역시,중구,NaN,129.047518,35.117625,3180.0,50000000707
1383,1004,60,자성대교차로,부산광역시,동구,NaN,129.058841,35.134184,3706.0,50000002996
1384,1004,61,부산진시장,부산광역시,동구,NaN,129.059549,35.136711,3704.0,50000002994
1392,1004,69,개금주공아파트,부산광역시,부산진구,당감3동,129.031824,35.159535,5151.0,21050691001
1405,1004,82,대저역,부산광역시,강서구,NaN,128.961150,35.213177,NaN,50000002287

In [ ]:
bus_stop = bus_stop[bus_stop['SIGUNNAME'].str.contains('부산')]
bus_stop = bus_stop.reset_index(drop=True)
bus_stop

,BUSLINENUM,ORD,NAME,SIGUNNAME,GUNAME,DONGNAME,X,Y,UNIQUEID,BUSSTOPID
0,33,1,연제공용버스차고지,부산광역시,연제구,NaN,129.053172,35.185243,13179.0,50000001059
1,33,2,시민도서관,부산광역시,부산진구,초읍동,129.050616,35.183126,5061.0,21050551017
2,33,3,초읍초등학교,부산광역시,부산진구,초읍동,129.050645,35.180547,5041.0,21050551012
3,33,4,부산진고교,부산광역시,부산진구,초읍동,129.053737,35.177546,5039.0,21050551002
4,33,5,연지한신타워,부산광역시,부산진구,연지동,129.054522,35.175790,5299.0,21050541003
...,...,...,...,...,...,...,...,...,...,...
1580,1004,51,부산항국제여객터미널입구,부산광역시,중구,NaN,129.047518,35.117625,3180.0,50000000707
1581,1004,60,자성대교차로,부산광역시,동구,NaN,129.058841,35.134184,3706.0,50000002996
1582,1004,61,부산진시장,부산광역시,동구,NaN,129.059549,35.136711,3704.0,50000002994
1583,1004,69,개금주공아파트,부산광역시,부산진구,당감3동,129.031824,35.159535,5151.0,21050691001
1584,1004,82,대저역,부산광역시,강서구,NaN,128.961150,35.213177,NaN,50000002287

In [ ]:
bus_stop = bus_stop[['NAME', 'BUSSTOPID', 'GUNAME']]
bus_stop

              NAME    BUSSTOPID GUNAME
0        연제공용버스차고지  50000001059    연제구
1            시민도서관  21050551017   부산진구
2           초읍초등학교  21050551012   부산진구
3            부산진고교  21050551002   부산진구
4           연지한신타워  21050541003   부산진구
...            ...          ...    ...
1580  부산항국제여객터미널입구  50000000707     중구
1581        자성대교차로  50000002996     동구
1582         부산진시장  50000002994     동구
1583       개금주공아파트  21050691001   부산진구
1584           대저역  50000002287    강서구

[1585 rows x 3 columns]

In [ ]:
bus_stop['인구_score'] = 0

for i in range(len(bus_stop)) :
  if bus_stop['GUNAME'][i] == '부산진구':
    bus_stop['인구_score'][i] = 5
  elif bus_stop['GUNAME'][i] == '사하구':
    bus_stop['인구_score'][i] = 4
  elif bus_stop['GUNAME'][i] == '해운대구':
    bus_stop['인구_score'][i] = 3
  elif bus_stop['GUNAME'][i] == '북구':
    bus_stop['인구_score'][i] = 2
  elif bus_stop['GUNAME'][i] == '사상구':
    bus_stop['인구_score'][i] = 1
  else:
    bus_stop['인구_score'][i]=0
bus_stop

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

              NAME    BUSSTOPID GUNAME  인구_score
0        연제공용버스차고지  50000001059    연제구         0
1            시민도서관  21050551017   부산진구         5
2           초읍초등학교  21050551012   부산진구         5
3            부산진고교  21050551002   부산진구         5
4           연지한신타워  21050541003   부산진구         5
...            ...          ...    ...       ...
1580  부산항국제여객터미널입구  50000000707     중구         0
1581        자성대교차로  50000002996     동구         0
1582         부산진시장  50000002994     동구         0
1583       개금주공아파트  21050691001   부산진구         5
1584           대저역  50000002287    강서구         0

[1585 rows x 4 columns]

In [ ]:
bus_stop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1585 entries, 0 to 1584
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   NAME       1585 non-null   object
 1   BUSSTOPID  1585 non-null   int64
 2   GUNAME     1585 non-null   object
 3   인구_score   1585 non-null   int64
dtypes: int64(2), object(2)
memory usage: 49.7+ KB

In [ ]:
bus_stop.to_excel('/content/drive/MyDrive/res/people_score.xlsx')